<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Cadastre-se</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form 
      action="#" 
      id="main-form" 
      (ngSubmit)="submit()"
      [formGroup]="personalData"
      >
        <div class="form-row">
          <mat-form-field appearance="fill">
            <mat-label>Nome</mat-label>
            <input 
            type="text" 
            matInput 
            placeholder="Seu Nome"
            formControlName="name"
            >
            <mat-error>
              <span *ngIf="personalData.controls['name'].getError('required')">
                Este campo é obrigatório
              </span>

              <span *ngIf="personalData.controls['name'].getError('minlength')">
                mínimo de 3 caracteres
              </span>

            </mat-error>           
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Sobrenome</mat-label>
            <input 
            type="text" 
            matInput 
            placeholder="Seu Sobrenome"
            formControlName="lastName"
            >
            <mat-error>
              <span *ngIf="personalData.controls['lastName'].getError('required')">
                Este campo é obrigatório
              </span>

              <span *ngIf="personalData.controls['lastName'].getError('minlength')">
                mínimo de 3 caracteres
              </span> 
            </mat-error>

          </mat-form-field>
        
        </div>

        <div class="form-row">
          <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input 
            type="text" 
            matInput 
            placeholder="username"
            formControlName="userName"
            >
            <mat-error>
              <span *ngIf="personalData.controls['userName'].getError('required')">
                Este campo é obrigatório
              </span>

              <span *ngIf="personalData.controls['userName'].getError('minlength')">
                mínimo de 3 caracteres
              </span>

            </mat-error>           
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>CPF</mat-label>
            <input 
            type="text" 
            matInput 
            placeholder="Seu CPF"
            formControlName="cpf"
            >
            <mat-error>
              <span *ngIf="personalData.controls['cpf'].getError('required')">
                Este campo é obrigatório
              </span>

              <span *ngIf="personalData.controls['cpf'].getError('minlength')">
                mínimo de 3 caracteres
              </span> 
            </mat-error>

          </mat-form-field>
        
        </div>

        <div class="form-row">
          <mat-form-field appearance="fill">
            <mat-label>Endereço</mat-label>
            <input 
            type="text" 
            matInput 
            placeholder="Endereço"
            formControlName="adress"
            >
            <mat-error>
              <span *ngIf="personalData.controls['adress'].getError('required')">
                Este campo é obrigatório
              </span>

              <span *ngIf="personalData.controls['adress'].getError('minlength')">
                mínimo de 3 caracteres
              </span>

            </mat-error>           
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Complemento do endereço</mat-label>
            <input 
            type="text" 
            matInput 
            placeholder="Cidade - UF - CEP"
            formControlName="adress2"
            >
            <mat-error>
              <span *ngIf="personalData.controls['adress2'].getError('required')">
                Este campo é obrigatório
              </span>

              <span *ngIf="personalData.controls['adress2'].getError('minlength')">
                mínimo de 3 caracteres
              </span> 
            </mat-error>

          </mat-form-field>
        
        </div>

        <div 
        formArrayName="tels" 
        class="form-row col"
        >
          <mat-form-field
          appearance="fill"
          class="grow"
          *ngFor="let c of tels.controls; let i = index"
          >
            <mat-label>Contato</mat-label>
            <input 
            type="tel" 
            matInput
            [placeholder]="'Digite o seu ' + (i + 1)+ 'contato'"
            [formControlName]="i"
            >
          </mat-form-field>
          
          <div class="botaoAddRemove">
            <button mat-icon-button
            color="warn"
            type="button"
            (click) ="newContact()"
            >
            <mat-icon>add</mat-icon>

            </button>

            <button mat-icon-button
            color="warn"
            type="button"
            (click) ="deleteContact()"
            >
            <mat-icon>remove</mat-icon>
            </button>
          </div>

        </div>

        <div class="form-row">
          <mat-form-field appearance="fill">
            <mat-label>Senha</mat-label>
            <input 
            type="password" 
            matInput 
            placeholder="Escolha uma senha"
            formControlName="password"
            >
            <mat-error>
              <span *ngIf="personalData.controls['password'].getError('required')">
                Este campo é obrigatório
              </span>

              <span *ngIf="personalData.controls['password'].getError('minlength')">
                mínimo de 3 caracteres
              </span>

            </mat-error>           
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Confirmação da senha</mat-label>
            <input 
            type="password" 
            matInput 
            placeholder="confirme sua senha"
            formControlName="password2"
            >
            <mat-error>
              <span *ngIf="personalData.controls['password2'].getError('required')">
                Este campo é obrigatório
              </span>
            </mat-error>
              <span *ngIf="error">
                Senha diferente
              </span> 
            
          </mat-form-field>        
        </div>

        <div class="form-row col">
          <button 
          mat-raised-button 
          type="submit" 
          color="accent" 
          class="grow"
          (click)="openDialog()"
          [disabled]="personalData.invalid || auxiliarDisable == false"
          >
          Cadastrar</button>
        </div>

      </form>
    </mat-card-content>

    </mat-card>

</div>